AntiFocusTimerProject/Library/
AntiFocusTimerProject/.vs/AntiFocusTimerProject/FileContentIndex/398cf0dd-a96f-4462-927d-dd0caa271671.vsidx
AntiFocusTimerProject/.vs/AntiFocusTimerProject/FileContentIndex/715f052c-79b5-4eba-b57e-87d9575f0560.vsidx
AntiFocusTimerProject/.vs/AntiFocusTimerProject/FileContentIndex/a7e84bdb-d4d2-4a35-a6fa-618b330bd450.vsidx
AntiFocusTimerProject/.vs/AntiFocusTimerProject/FileContentIndex/ca73a2e1-3928-44cf-99c5-53c17ca63144.vsidx
AntiFocusTimerProject/.vs/AntiFocusTimerProject/FileContentIndex/e1678d4a-3911-4d30-9cd1-980cf2e38822.vsidx
AntiFocusTimerProject/Temp/FSTimeGet-27e1d0f9667663f46a06fea5d80394b6
AntiFocusTimerProject/Temp/FSTimeGet-a3029c4bab83afb40b07f9ad2bcb6cef
AntiFocusTimerProject/Temp/FSTimeGet-a5816904d3d511042b258c9f383c1238
AntiFocusTimerProject/Temp/UnityLockfile
AntiFocusTimerProject/Temp/__Backupscenes/0.backup
AntiFocusTimerProject/.vs/AntiFocusTimerProject/FileContentIndex/7f6d4630-df2c-4200-a121-ab353387f402.vsidx
AntiFocusTimerProject/.vs/AntiFocusTimerProject/FileContentIndex/5d4f638c-4899-4ec0-912d-4389a533f0f4.vsidx
*.vsidx
